// Component - Alert
// -------------------------------------

@import 'themes';

.alert {
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.alert-message {
  margin: 0;
  font-size: $alert-font-size;
  font-weight: 700;
  text-align: center;

  .alert-success & { color: $alert-success-color; }
  .alert-error & { color: $alert-error-color; }
}
