// Theme: Dark Scaffold
// -------------------------------------

// Text
$t-font-size: 14px;
$t-line-height: 18px;
$f-family-default: Helvetica, Arial, sans-serif;

// Body
$body-margin: 0;
$body-padding: 0;
$body-text-color: $c-text-default;
$body-font-size: $t-font-size;
$body-line-height: $t-line-height;
$body-font-family: $f-family-default;
$body-overflow-x: hidden;
$body-background-color: $c-background-color-default;

// Main
$main-padding: 26px;
$main-max-width: 1012px;
