// Base: Buttons
// --------------------------------------------

%button {
  padding: $button-padding;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  line-height: $button-line-height;
  border-width: $button-border-width;
  border-style: $button-border-style;
  border-color: $button-border-color;
  border-radius: $button-border-radius;
}

%button-primary {
  @extend %button;
  color: $button-primary-color;
  background-color: $button-primary-background-color;
  background-image: $button-primary-background-image;
  border-color: $button-primary-border-color;

  &:hover
  &:focus {
    background-color: $button-primary-hover-background-color;
    background-image: $button-primary-hover-background-image;
    border-color: $button-primary-hover-border-color;
  }

  &:active {
    background-color: $button-primary-active-background-color;
    background-image: $button-primary-active-background-image;
    border-color: $button-primary-active-border-color;
    box-shadow: $button-primary-active-box-shadow;
  }
}
