// Component
// User Details: Repository List
// -------------------------------------------

@import 'themes';

.user-respository-list-title {
  margin: 0;
  padding-bottom: 20px;
  font-size: 26px;
  line-height: 30px;
  font-weight: 600;
}
